@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
/****** Page defaults *****/
html {
  font-family: 'Frank Ruhl Libre', Georgia, serif;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  background-color: #F0F9F9;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000; 
}

.active {
  color: #0076D1 !important;
}

/****** Nav and Header *****/
header {
  background-color: #fff;
  padding-right: 5px;
}

#login {
  float: right;
}

.button {
  border: 1px solid #000;
  padding: 10px;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

h1 > a {
  color: #e71324;
  margin: 0;
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 20px;
}

nav {
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid #FFD977;
  padding: 16px 0 15px 0;
  margin: 0;
  font-family: Arial, serif;
  font-size: 28px;
}

nav > a {
  padding: 17px 8px 16px 20px; 
}

nav > a:hover {
  text-decoration: underline #0076D1;
}

/****** Recipe display styles *****/
#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.recipe {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 420px;
  list-style-type: none;
  margin: 20px;
  width: 300px;
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;
  transition: top ease 0.1s;
  transition: left ease 0.1s;
  transition: box-shadow ease 0.4s;
}

.recipe:hover {
  box-shadow: 5px 5px 0 #FFD977;
  top: -5px;
  left: -5px;
  text-decoration: underline #000;
}

.recipe-image {
  width: 300px;
  height: 180px;
}

.sub {
  color: #767676;
  text-align: center;
}

.rating {
 float: right;
}

.stars {
  width: 25px;
}

.recipe-text {
  color: #000;
  margin-top: 0;
  padding-left: 5px;
}

.recommender {
  margin: 0;
}

.float {
  float: right;
}


/****** Show Styles *****/
.show {
  align-self: center;
  background-color: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.show-image {
  align-self: left;
  height: 360px;
  margin: 0 auto;
  max-width: 600px;
}

.review {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

textarea {
  width: 99%;
  height: 150px;
}

/****** form *****/
#form {
  align-self: center;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2.5rem;
}

/****** Footer *****/

footer {
  background-color: #343A40;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

/****** Form styles *****/
input[type="text" i] {
  padding: 12px 20px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
}

input[type="password" i] {
  padding: 12px 20px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
}

input[type="submit" i] {
  font-size: 20px;
  padding: 5px 15px; 
  background: #fff; 
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  margin: 8px 0 8px 0;
}

input[type="submit" i]:hover {
  background-color: #000;
  color: #fff;
}
